@using TendalProject.Web.ViewModels.Articulo
@model TendalProject.Web.ViewModels.Articulo.DetalleArticuloViewModel

@{
    ViewData["Title"] = "Detalle del Artículo";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Articulo/Detalle.css" />
}

<div class="container mt-4">

    <h2 class="text-center mb-4 fw-bold">Detalle del Artículo</h2>
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
            <div class="card-tarjeta">
                <div class="imagen text-center">
                    <img src="@Url.Content("~/" + Model.Imagen + "?v=" + DateTime.Now.Ticks)"
                         class="img-fluid imagen-articulo" />
                </div>
                <div class="card-body p-4">


                    <h3 class="card-title fw-bold nombre-ariticulo">@Model.Nombre</h3>

                    <p class="text-muted mb-4">@Model.Descripcion</p>

                    <div class="row">

                        <div class="col-6 mb-3">
                            <strong>Código:</strong>
                            <p>@Model.Codigo</p>
                        </div>

                        <div class="col-6 mb-3">
                            <strong>Categoría:</strong>
                            <p>@Model.NombreCategoria</p>
                        </div>

                        <div class="col-6 mb-3">
                            <strong>Proveedor:</strong>
                            <p>@Model.NombreProveedor</p>
                        </div>

                        <div class="col-6 mb-3">
                            <strong>Fecha Registro:</strong>
                            <p>@Model.FechaRegistro.ToString("dd/MM/yyyy")</p>
                        </div>

                        <div class="col-6 mb-3">
                            <strong>Precio:</strong>
                            <p class="fw-bold text-success h5">S/. @Model.Precio</p>
                        </div>

                        <div class="col-6 mb-3">
                            <strong>Stock:</strong>
                            <p>@Model.Stock unidades</p>
                        </div>

                    </div>

                    <div class="d-flex justify-content-between align-items-center mt-4 gap-3">
                        <a asp-action="Listar" class="btn btn-secondary flex-grow-1 text-center px-4">
                            <i class="bi bi-arrow-left"></i> Volver
                        </a>

                        <form id="formEstado" asp-action="ModificarEstado" asp-route-articuloId="@Model.ArticuloId" method="post" class="flex-grow-1">
                            <button type="button"
                                    class="btn @(Model.Estado == "Activo" ? "btn-danger" : "btn-success") w-100 px-4"
                                    onclick="confirmarCambioEstado('@Model.Estado')">
                                <i class="bi @(Model.Estado == "Activo" ? "bi-x-circle" : "bi-check-circle")"></i>
                                @(Model.Estado == "Activo" ? "Desactivar" : "Activar")
                            </button>
                        </form>
                        <button type="button" class="btn btn-warning flex-grow-1 px-4" data-bs-toggle="modal" data-bs-target="#modalActualizarImagen">
                            Cambiar Imagen
                        </button>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

<div class="modal fade" id="modalActualizarImagen" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Actualizar Imagen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                @await Html.PartialAsync("_ActualizarImagenPartial",
                new ActualizarImagenArticuloViewModel { ArticuloId = Model.ArticuloId })
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Articulo/Detalle.js"></script>
}