@model TendalProject.Web.ViewModels.Categoria.DetalleCategoriaViewModel

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
</div>
<div>
    <form id="formEstado" asp-action="ModificarEstado" asp-route-categoriaId="@Model.CategoriaId" method="post">
        <button type="button"
                class="btn @(Model.Estado == "Activo" ? "btn-danger" : "btn-success") px-4"
                onclick="confirmarCambioEstado('@Model.Estado')">
            <i class="bi @(Model.Estado == "Activo" ? "bi-x-circle" : "bi-check-circle")"></i>
            @(Model.Estado == "Activo" ? "Desactivar" : "Activar")
        </button>
    </form>
    <br />
    <a asp-action="Listar">Lista</a>
</div>


@section Scripts {
    <script src="~/js/Categoria/Detalle.js"></script>
}