@model TendalProject.Web.ViewModels.Ecommerce.DetalleArticuloSeleccionadoViewModel

@{
    ViewData["Title"] = "Detalle Articulo";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Ecommerce/Detalle.css" />
}
<h1 class="page-title">Detalle</h1>

<div>
    <h4>Datos del Articulo seleccionado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreArticulo)
        </dd>
        <dt class = "col-sm-2">
            Categoria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCategoria)
        </dd>
        <dt class = "col-sm-2">
            Descripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            Precio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            Stock Total
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content("~/" + Model.Imagen + "?v=" + DateTime.Now.Ticks)"
                 class="img-fluid" />
        </dd>
        <dt class = "col-sm-2">
            Calificación del Articulo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calificacion)
        </dd>
    </dl>
</div>

<div class="form-container">
    <form asp-controller="Ecommerce"
          asp-action="Agregar"
          asp-route-articuloId="@Model.ArticuloId"
          asp-route-precioFinal="@Model.Precio"
          method="post"
          class="form-inline">
        @Html.AntiForgeryToken()

        <label for="cantidad" class="form-label">Cantidad:</label>

        @Html.TextBox("cantidad", "1", new {
        type = "number",
                min = 1,
                max = Model.Stock,
                @class = "form-control quantity-input",
                style = "max-width:120px"
                })

        <button type="submit" class="btn btn-primary-tendal btn-add-cart">
            <i class="fas fa-cart-plus me-2"></i>Agregar al Carrito
        </button>
    </form>

    <div class="form-actions">
        <a asp-action="Catalogo" class="btn btn-secondary">
            <i class="fas fa-arrow-left me-2"></i>Regresar
        </a>
    </div>
</div>

@section Scripts {
    <script src="~/js/Ecommerce/Detalle.js"></script>
}